<li class="sct_li list">		
		<div class="item_img">
			<div class="i_state">
				<a href="javascript:;">바디케어</a>
<!-- 				 -->
<!-- 				<div class="new">New</div> -->
<!-- 				 -->
				
			</div>

			<div class="bar">
				<p class="icon">
					<a href="javascript:;" class="btn_cart" data-it_id="1757918828">
						<img src="/images/cart_icon.png" alt="">
					</a>
				</p>
				<p class="icon like">
					<a href="javascript:;" data-it_id="1757918828" class="btn_wish">
						<img class="off" src="/images/like_off.png" alt="">
						<img class="on" src="/images/like_on.png" alt="">
					</a>
				</p>
			</div>
			<a href="https://seleang.com/shop/item.php?it_id=1757918828">
				<img src="https://seleang.com/data/item/1757918828/thumb-004_366x366.png" width="366" height="366" alt="리예보 오트밀 애플앤시나몬 89g x 14입">
			</a>
		</div>

		<div class="item_txt">

			<p class="i_title"><a href="https://seleang.com/shop/item.php?it_id=1757918828">리예보 오트밀 애플앤시나몬 89g x 14입</a></p>
<!-- 			<p class="i_con"> -->
<!-- 				<a href="https://seleang.com/shop/item.php?it_id=1757918828"></a> -->
<!-- 			</p> -->
			<div class="i_price">
				<p class="i_price1"><span>119,000</span>원</p>
				<p class="i_price2"><span>49,000</span> 원 </p>
			</div>

		</div>
		<div class="cart-layer">
				</div>
		
		
	</li>