.product-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 60px 15px;
  max-width: 900px;
  margin:0 auto;
}

.product-detail-left {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.thumbnail-swiper {
  width: 100px;
  height: 400px;
}

.thumbnail-swiper img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.thumbnail-swiper img.active,
.thumbnail-swiper img:hover {
  opacity: 1;
  border-color: #111;
}

.main-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #eee;
}

.product-detail-right {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  font-size: 0.8rem;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}

.tag.new {
  background-color: #000;
}

.tag.best {
  background-color: #555;
}

.desc {
  color: #777;
  font-size: 0.9rem;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sale-price {
  font-size: 1.3rem;
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
}

.quantity-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;;
  justify-content: space-between;
  margin: 20px 0;
}

.quantity-btns {
  margin-top:15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btns button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
}
.price-inline{margin-top:5px;}
.total {
  font-size: 1.1rem;
  font-weight: 600;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons button {
  flex: 1;
  padding: 15px 0;
  border: 1px solid #eee;
  font-size: 1rem;
  cursor: pointer;
  
}

.action-buttons .buy {
  background-color: var(--main-color);
  color: #fff;
  border: none;
}

.action-buttons .buy:hover{
  background-color: var(--main-hover);
}

.action-buttons .cart {
  background-color: var(--main-color);
  color:#fff;
}
.action-buttons .cart:hover{
  background-color: var(--main-hover);
}


/* =====================
   Tablet  
========================*/

@media (min-width: 768px) and (max-width: 1023px) {

  .product-detail{flex-direction: column;font-size: 1rem;}
  .product-detail-right {width: 100%;}
  .quantity-box{align-items: flex-start}
}


/* =====================
   Mobile  
========================*/
@media (max-width: 767px) {
  .product-detail-left{width: 100%;flex-direction: column;}
  .thumbnail-swiper{display: flex;width:100%;height:auto}
  .product-detail{flex-direction: column;font-size: 1rem;}
  .product-detail-right {width: 100%;}
  .quantity-box{align-items: flex-start}

}